/carlos.mp4
/Codgio.py
/Codigo.ipynb
/Codigo_CV.ipynb
/ensayito.ipynb
/fe.mp4
/file_name.csv
/foto.jpg
/foto2.png
/nuevo
/Prueba1.mp4
/Prueba2.mp4
/self1.mp4
/self2.mp4
/video.mp4
/videopruebares.mp4
/video_tracked.mp4
/1.mp4
/2.mp4
/3.mp4
/4.mp4